body {
    background: #050505;
    color: #00ff99;
    font-family: monospace;
    text-align: center;
}

table {
    width: 90%;
    margin: auto;
}

td, th {
    padding: 10px;
    border-bottom: 1px solid #222;
}

/* Toque extra para los botones sin romper lo anterior */
a {
    color: #00f3ff;
    text-decoration: none;
    border: 1px solid #00f3ff;
    padding: 5px 10px;
    display: inline-block;
    margin: 10px;
}

a:hover {
    background: #00f3ff;
    color: #000;
}
